@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body {
    height: 540px;
}

#clock {
    background-color: rgba(0, 0, 0, 0);
    border: solid black 20px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;
    margin: 30px auto;
}

.number {
    font-family: "Squada One", sans-serif;
    font-size: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(0deg);
}

.number:nth-of-type(1) {
    transform: rotate(30deg);
}
.number:nth-of-type(2) {
    transform: rotate(60deg);
}
.number:nth-of-type(3) {
    transform: rotate(90deg);
}
.number:nth-of-type(4) {
    transform: rotate(120deg);
}
.number:nth-of-type(5) {
    transform: rotate(150deg);
}
.number:nth-of-type(6) {
    transform: rotate(180deg);
}
.number:nth-of-type(7) {
    transform: rotate(210deg);
}
.number:nth-of-type(8) {
    transform: rotate(240deg);
}
.number:nth-of-type(9) {
    transform: rotate(270deg);
}
.number:nth-of-type(10) {
    transform: rotate(300deg);
}
.number:nth-of-type(11) {
    transform: rotate(330deg);
}

.handle {
    position: absolute;
    width: 10px;
    height: 200px;
    transform: translateX(-50%);
    left: 50%;
    bottom: 50%;
    background-color: black;
    transform-origin: bottom;
}

.handle__base {
    position: absolute;
    width: 16px;
    height: 16px;
    border: solid black 10px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 3;
}

.handle__second {
    background-color: red;
    transform: translateX(-50%) rotate(90deg);
    z-index: 2;
}

.handle__minute {
    height: 180px;
    z-index: 2;
}

.handle__hour {
    height: 120px;
    transform: translateX(-50%) rotate(60deg);
    z-index: 2;
}

.milliseconds__face {
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translateX(-50%);
    border: solid black 8px;
    border-radius: 50%;
    z-index: 1;
}

.milliseconds__handle {
    position: absolute;
    left: 50%;
    top: 0;
    height: 50px;
    width: 5px;
    background-color: red;
    transform: translateX(-50%);
    transform-origin: top;
}